.post{
    font-size: 1.2rem;
    padding: 10px 12px;
    margin: 15px 20px;
    background-color: #002B5B;
    border-radius: 1em;
    
    
  }
  .name{
    color:#EA5455;
    font-size: 2.2rem;
    text-align: center;
    margin:2px 4px;
    font-family: 'Courier New', Courier, monospace;
  }
  .tweet{
    color:#E4DCCF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2px 4px;
  }